<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Productos - Black & Wood</title>
        <link rel="stylesheet" href="../static\style\reset.css">
        <link rel="stylesheet" href="../static\style\productos.css">
        
    </head>
    <body>
        <header>
            <div class="caja">
                <h1><img src="../static/imagenes/b&w_ccexpress.png"></h1>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <ul class="productos">
                <h2>Linea Wood</h2>
                <li>
                    <h2>Maceta</h2>
                    <img src="../static\imagenes\maceta1.jpg">
                    <p class="producto-descripcion">Maceta 1</p>
                </li>
                <li>
                    <h2>Maceta</h2>
                    <img src="../static\imagenes\maceta2.jpg">
                    <p class="producto-descripcion">Maceta 2</p>
                </li>
                <li>
                    <h2>Maceta</h2>
                    <img src="../static\imagenes\maceta3.jpg">
                    <p class="producto-descripcion">Maceta 3</p>
                </li>
            </ul>
            <ul class="productos">
                <h2>Linea Fantasia</h2>
                <li>
                    <h2>Principito</h2>
                    <img src="../static\imagenes\principito.jpg" alt="">
                </li>

            </ul>
            <ul class="productos">
                <h2></h2>
                <li>
                    <h2>Sons of buda</h2>
                    <img src="../static\imagenes\budas.jpg" alt="">
                </li>
            </ul>
        </main>

        <footer>
            <h2>B&W</h2>
            <p class="copyright">&copy Copyright Black & Wood - 2022</p>
        </footer>
    </body>
</html>


